h1 {
    font-size: 80pt;
    text-align: center;
margin-top: 25%;
}

body {
    margin: 10% 20%;
}

button {
    width: 40%;
    color: aliceblue;
    background: rgba(235, 0, 139, 0.5);
    font-size: 100%;
    height: 7%;
}

.amarillo {
    color: goldenrod;
}

.cajaTarjetas {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.tarjetas {
    width: 48%;
    img {
        width: 50%;
    }
}

.cajaBienvenidos {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
align-items: center;
    width: 70%;
button{
    width: 100%;
}
    video {
        border-radius: 15px;
    }
}