body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
  margin-top: 5%;
}

/* :popover-open{
} */

button {
  width: 30%;
  min-width: 200px;
  background: rgba(255, 255, 255, 0.6);
  font-size: 80%;
  height: 30%;
}

.buttonNone {
  height: 2%;
  font-family: "Alegreya";
  font-style: italic;
  word-spacing: 7pt;
  font-size: 17pt;
  background: none;
  border-color: rgb(255, 255, 255, 0);
  width: 0 auto;
  float: right;
}

.cajaTarjetasColor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  border-radius: 15px;
  font-size: 25pt;
  color: aliceblue;
  font-weight: 800;
}

.cajaTarjetas {
  display: flex;
  justify-content: space-between;
}


.tarjetasColor {
  width: 48%;
  height: 16rem;
  border-radius: 15PX;
  overflow: hidden;
  animation: bg 27.5s linear infinite;

  div {
    padding-left: 50px;
  }

  h2 {
    padding-left: 50px;
  }

  a {
    padding-left: 50px;
    display: inline-flexbox;
  }
}

.tarjetas {
  width: 48%;
  height: 16rem;
  overflow: hidden;

  iframe {
    border-radius: 15px;
    display: block;
    aspect-ratio: 16/9;
    width: clamp(300px, 100%, 700px);
  }
}


#trailer {
  left: 33%;
  top: 42%;
  width: fit-content;
  height: fit-content;
  border-radius: 15PX;
  text-align: right;
  border-color: aliceblue;
  padding: 0%;
}

#trailer2 {
  left: 33%;
  top: 42%;
  width: fit-content;
  height: fit-content;
  border-radius: 15PX;
  text-align: right;
  border-color: aliceblue;
  padding: 0%;
}



.dropping-texts {
  align-items: center;
  text-align: left;
}

.dropping-texts>div {
  opacity: 0;
  position: absolute;
}

.dropping-texts>div:nth-child(1) {
  animation: roll 27.5s linear infinite 0s;
}

.dropping-texts>div:nth-child(2) {
  animation: roll 27.5s linear infinite 0.5s;
}

.dropping-texts>div:nth-child(3) {
  animation: roll 27.5s linear infinite 4s;
}

.dropping-texts>div:nth-child(4) {
  animation: roll 27.5s linear infinite 8s;
}

.dropping-texts>div:nth-child(5) {
  animation: roll 27.5s linear infinite 12s;
}

.dropping-texts>div:nth-child(6) {
  animation: roll 27.5s linear infinite 16s;
}

.dropping-texts>div:nth-child(7) {
  animation: roll 27.5s linear infinite 20s;
}

.dropping-texts>div:nth-child(8) {
  animation: roll 27.5s linear infinite 24s;
}


@keyframes roll {
  5% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }

  7% {
    opacity: 1;
    transform: rotate(0deg);
  }

  10% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }

  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }

  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }

  80% {
    font-size: 0px;
    opacity: 0;
    margin-top: 0px;
  }

}


@keyframes bg {
  0% {
    background-color: #EB008B;
  }

  10% {
    background-color: #eb0000;
  }

  20% {
    background-color: #EB008B;
  }

  30% {
    background-color: #eb0000;
  }

  40% {
    background-color: #EB008B;
  }

  50% {
    background-color: #eb0000;
  }

  60% {
    background-color: #EB008B;
  }

  70% {
    background-color: #eb0000;
  }

  80% {
    background-color: #EB008B;
  }

  90% {
    background-color: #eb0000;
  }

  100% {
    background-color: #EB008B;
  }
}