main h1 {
    background-color: #EB008B;
    color: aliceblue;
    width: 70%;
    margin-bottom: -7%;
    margin-left: 30%;
}

main {
    margin-top: 6%;
}

main h2 {
    background-color: aliceblue;
    color: #EB008B;
    padding-left: 45%;
    /*40% img +3%margin en tarjetas */
    text-align: left;
    font-weight: 900;
    font-size: xx-large;
}

.espacio {
    margin-top: 7%;
}

.cajaTarjetas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}

.tarjetas {
    width: 48%;

    img {
        margin-top: -4%;
    }
}

.araki {
    margin-left: 20%;
}

.onomatopeya {
    padding-top: -5%;
    padding-bottom: -3%;
    display: flex;

}